@import "../global/vars";

.product {
  position: relative;
  width: 300px;
  height: 400px;
  border: solid 0.5px #d5dbdb;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  a {
    text-decoration: none;
  }
  img {
    max-height: 200px;
    max-width: 250px;
  }
  &__rating {
    align-self: flex-start;
    display: flex;
    // align-items: center;
  }
  &__image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
    cursor: pointer;
  }
  &__price {
    color: #902339;
    font-size: 1.7rem;
    align-self: flex-start;
  }
  &__title {
    color: $light-blue;
    align-self: flex-start;
    cursor: pointer;
  }
  &__button {
    position: absolute;
    bottom: 10px;
    width: 90%;
    line-height: 3rem;
    background-color: $yellow;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
  }
}
.detail {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  img {
    width: 30%;
    padding: 30px;
  }
  &__center {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 5px;
    width: 35%;
    height: 100%;
    &--price {
      color: #902339;
      font-size: 2.4rem;
      align-self: flex-start;
      margin: 15px 0 15px;
    }
    &--title {
      font-size: 2.4rem;
      color: $black;
      align-self: flex-start;
      margin: 5px 0 20px 0;
      cursor: pointer;
    }
    &--rating {
      align-self: flex-start;
      display: flex;
      align-items: center;
      border-bottom: 1px solid #d5dbdb;
    }
  }
  &__right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
    width: 25%;
    height: 100%;
    border: 1px solid #d5dbdb;
    border-radius: 4px;
    &--price {
      color: #902339;
      font-size: 2.4rem;
      align-self: flex-start;
      margin: 0 0 15px;
    }
    &--location {
      display: flex;
      align-items: center;
      img {
        width: 16px;
        padding: 0;
      }
      p {
        font-size: 1.2rem;
        margin: 20px 0px 15px 5px;
        color: $light-blue;
      }
    }
    &--stock {
      font-size: 1.8rem;
      color: #007600;
      margin-bottom: 15px;
    }
    a {
      color: $light-blue;
      margin: 5px 0 10px;
    }
    select {
      width: fit-content;
      border: 1px solid #d5dbdb;
      border-radius: 8px;
      padding: 5px;
      box-shadow: 0px 2px 6px #00000080;
    }
    &--buttons {
      width: 100%;
      button {
        margin: 10px 0 10px 0;
        padding: 8px;
        display: block;
        width: 100%;
        border-radius: 20px;
        border: none;
        cursor: pointer;
      }
      :nth-child(1) {
        background-color: $yellow;
      }
      :nth-child(2) {
        background-color: $orange-hover;
      }
    }
  }
}
@media (max-width: 550px) {
  .detail {
    flex-direction: column;
    align-items: center;
    #detail__image {
      width: 80%;
    }
    div {
      width: 100%;
    }
  }
}
